/* Allow map to fill viewport */
html, body, #map-canvas, .container-fluid
{
    /* Height of these elements */
    height: 100%;

    /* No margin around these elements */
    margin: 0;

    /* Disable scrollbars */
    overflow: hidden;

    /* No padding within these elements */
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 28px;
    right: 25px;
    z-index: 5;
    background-color: #fff;
    padding: 15px;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    text-align: left;
    line-height: 30px;
    width: 500px;
    bottom: 25px;
    background-color: rgba(255,255,255,0.5);
}
.logo{
  width: 300px;
  padding-top: 150px;
  padding-bottom: 0px;
}
.g-signin2{
    padding-bottom: 15px;
}
h1 {
    color: gray;
}

h4, a{
    color: white;
    font-family: helvetica;
}
th {
    padding-top: 50px;
    font-size: 25px;
    font-family: helvetica;
    color: darkblue;
}
td {
     padding-top: 15px;
     padding-left: 255px;
     font-family: helvetica;
     color: darkblue;
}
/* Center form */
#form
{
    /* Position form "absolutely" where we want it */
    position: absolute;
    /* Distance from top edge of viewport */
    top: 28px;
    left: 25px;

    /* Form's width */
    width: 100%;
}
#form .form-group1
{
    /* Block-level flex container */
    display: flex;

    position: absolute;


    /* Center container's content */
    justify-content: center;
}

#form .form-group2
{
    /* Block-level flex container */
    display: flex;

    position: absolute;


    top: 100px;

    /* Center container's content */
    justify-content: center;
}

#form .btn
{
    position: absolute;
    top: 145px;
}


/* Stylize text box */
#q
{
    /* Override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* Text box's width */
    width: 300px;
}

/* Stylize info window */
#info
{
    /* No margin around this element */
    margin: 0;

    /* Allow scrollbars as needed */
    overflow: auto;
}
#info ul
{
    margin-bottom: 0;
}