<!DOCTYPE html>
<html>
    <title>Cap One</title>

        <link href="/static/styles.css" rel="stylesheet"/>
        <style>
        body {
            background-color: lightblue;
        }
        </style>
        <body>
                <link href="/static/styles.css" rel="stylesheet"/>
                 <center>
                  <img src="static/c1logo.png" class="logo">
                  <br> <br><br>
                  <h4>By Carra Wu and Sara Kvaska</h4>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control"name="confirmation"placeholder="Confirm Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        <br><br>
        <a href="/" class="button"style="color: darkblue">Go Back to Login</a>
    </form>